{% extends 'base.html.twig' %}

{% block body %}
    <h2>Mon profil</h2>
    {{ form_start(profileForm) }}
    {{ form_widget(profileForm) }}
    {{ form_end(profileForm) }}
    <a href="{{ path('homepage') }}"><button>Annuler</button></a>
{% endblock %}
{% block title %}Mon profil{% endblock %}