{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon profil</h1>
    {{ form_start(profileForm) }}
    {{ form_widget(profileForm) }}
    <div class="buttons-group">
        <a href={{ path('homepage') }} class="annulationButton">Annuler</a>
        <button type="submit">Modifier</button>
    </div>
    {{ form_end(profileForm) }}

{% endblock %}
{% block title %}Mon profil{% endblock %}