<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <header>
                <img src="{{ asset('images/logo_ENI_pt.svg') }}" alt="Sortir" height="150 px">
                {% include 'inc/_nav.html.twig' %}
            </header>
            <main>
                {% block body %}{% endblock %}
            </main>
            <footer>

            </footer>
        </div>

    </body>
</html>
