{% block navbar %}
        <nav>
            <ul>
                <li>
                    <a href="">Ville</a>
                </li>
                <li>
                    <a href="">Campus</a>
                </li>
                <li>
                    <a href="">Accueil</a>
                </li>
                <li>
                    <a href="">Mon profil</a>
                </li>
                <li>
                    <a href="">Se deconnecter</a>
                </li>
            </ul>
        </nav>
{% endblock %}
