{% block navbar %}
        <nav>
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="">Ville</a>
                    </li>
                    <li>
                        <a href="">Campus</a>
                    </li>
                {% endif %}
                <li>
                    <a href="">Accueil</a>
                </li>
                <li>
                    <a href="">Mon profil</a>
                </li>
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% endif %}
            </ul>
        </nav>
{% endblock %}
