{% extends 'base.html.twig' %}

{% block body %}
    <h2>Upload de votre avatar</h2>

    {{ form(form)}}

    <a href="{{ path('user_account', {id: app.user.id}) }}" class="btn btn-danger">Passer cette étape</a>
{% endblock %}

{% block title %}Upload de votre avatar{% endblock %}

